<li class="workplace transition">
    {% for project in site.data.project.fifth-place %}
    <p class="workplace-name">
        <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
    </p>
    <div class="work-info">
        <p>
            {{ project.sub }}
        </p>
        <p class="work-sub-info">
            {{ project.date }}
        </p>
    </div>
    {% endfor %}
</li>

<li class="workplace transition">
    {% for project in site.data.project.fourth-place %}
    <p class="workplace-name">
        <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
    </p>
    <div class="work-info">
        <p>
            {{ project.sub }}
        </p>
        <p class="work-sub-info">
            {{ project.date }}
        </p>
    </div>
    {% endfor %}
</li>

<li class="workplace transition">
    {% for project in site.data.project.third-place %}
    <p class="workplace-name">
        {{ project.name }}
    </p>
    <div class="work-info">
        <p>
            {{ project.sub }}
        </p>
        <p class="work-sub-info">
            {{ project.date }}
        </p>
    </div>
    {% endfor %}
</li>

<li class="workplace transition">
    {% for project in site.data.project.second-place %}
    <p class="workplace-name">
        {{ project.name }}
    </p>
    <div class="work-info">
        <p>
            {{ project.sub }}
        </p>
        <p class="work-sub-info">
            {{ project.date }}
        </p>
    </div>
    {% endfor %}
</li>
 
<li class="workplace transition">
    {% for project in site.data.project.first-place %}
    <p class="workplace-name">
        <a href="{{ project.url }}" target="_blank">{{ project.name }}</a>
    </p>
    <div class="work-info">
        <p>
            {{ project.sub }}
        </p>
        <p class="work-sub-info">
            {{ project.date }}
        </p>
    </div>
    {% endfor %}
</li>